body {
    background-image: url("../img/title.jpg");
    background-repeat: no-repeat;
    background-position: 0rem 2.5rem;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-size: 14pt;
}

/*  =============  HEADER FORMATTING  ============  */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 2.5rem;

  background: linear-gradient(to bottom right, #184d7a, #c098d1);
  color: white;
  font-size: 1.25rem;
  overflow: clear;
}

.header .status {
  margin-top: 1.2rem;
  margin-right: 2rem;
  float: right;
}

.header .title {
  margin-top: 0.6rem;
  margin-left: 2rem;
}

/*  =============  CONTENT FORMATTING  ============  */

.content {
    position: absolute;
    top:  2.7rem;
    width: 100%;
    bottom:  0;
    padding:  1rem;
    font-family:  "Helvetica Neue", sans-serif;
    font-size:  0.9rem;
    display : block;
}

#intro {
    margin-top: -15px;
}

/*  =============  SHIP BUTTONS ============  */

input.shipButton {
    position: absolute;
    margin: 2px;
    width: 107px;
    height: 240px;
    top: 293px;
}

#anj_button {
    left: 43px;
}

#har_button {
    left: 155px;
}

#ber_button {
    left: 279px;
}

#ver_button {
    left: 395px;
}

/*  =============  ACTION BUTTONS  ============  */

input.actButton {
    position: absolute;
    margin: 2px;
    width: 154px;
    height: 40px;
    left: 25px;
}

#atk_button {
    top: 180px;
}

#repres_button {
    top: 230px;
}

#repo_button {
    top: 280px;
}

#pldr_button {
    top: 330px;
}

#spec_button {
    top: 380px;
}

/*  =============  HOVER STYLING  ============  */

div.actHover {
    position: absolute;
    z-index: 1000;
    margin: 2px;
    /*width: 154px;*/
    width: 200px;
    height: 40px;
    left: 25px;
}

#atkHover {
    top: 180px;
}

#represHover {
    top: 230px;
}

#repoHover {
    top: 280px;
}

#pldrHover {
    top: 330px;
}

#specHover {
    top: 380px;
}

/*  =============  OUTPUT FORMATTING  ============  */

#display {
    position: absolute;
    right: 80px;
    height: 100%;
    margin-top: -15px;
    resize: none;
    overflow-y: scroll;
    width: 40%;
    height: 70%;
    vertical-align: top;
}

#moveDesc {
    position: absolute;
    resize: none;
    top: 139px;
    left: 186px;
    width: 147.5px;
    height: 308px;

}

textarea.oppBar {
    position: absolute;
    top: -2.5px;
    resize: none;
    text-align: center;
    font-size: 18pt;
}

#oppName {
    left: 800px;
    width: 200px;
}

#oppHP {
    left: 110px;
    width: 100px;
}

#oppStatus {
    left: 310px;
    width: 200px;
}

textarea.ownBar {
    position: absolute;
    bottom: 80px;
    resize: none;
    text-align: center;
    font-size: 18pt;
}

#ownName {
    left: 800px;
    width: 200px;
}

#ownHP {
    left: 80px;
    width: 100px;
}

#ownStatus {
    left: 270px;
    width: 200px;
}

#ownSpecial {
    left: 510px;
    width: 100px;
}

#ownAmmo {
    left: 650px;
    width: 100px;
}

#altFeedback {
    position: absolute;
    resize: none;
    text-align: center;
    left: 510px;
    top: 250px;
    width: 200px;
    font-size: 24pt;
}
